examples {
  ["Standard Types: Swift"] {
    """
    enum StandardTypes {
        static let someString: String = "Hello, World!"
        static let someOptionalString: String? = nil
        static let someObject: SomeClass = SomeClass(
            someString: "bob",
            someInteger: 0,
            anEmptyStringList: [],
            anIntList: [1, 2, 3],
            aStringList: ["A", "B", "C"],
            someNestedObject: SomeOtherClass(
                someBoolean: false,
                someDecimal: 0.5
            )
        )
        struct SomeClass {
            let someString: String
            let someInteger: Int
            let anEmptyStringList: Array<String>
            let anIntList: Array<Int>
            let aStringList: Array<String>
            let someNestedObject: SomeOtherClass
        }
        struct SomeOtherClass {
            let someBoolean: Bool
            let someDecimal: Double
        }
    }
    """
  }
  ["Standard Types: Kotlin"] {
    """
    package my.package
    
    object StandardTypes {
        const val someString: String = "Hello, World!"
        val someOptionalString: String? = null
        val someObject: SomeClass = SomeClass(
            someString = "bob",
            someInteger = 0,
            anEmptyStringList = listOf(),
            anIntList = listOf(1, 2, 3),
            aStringList = listOf("A", "B", "C"),
            someNestedObject = SomeOtherClass(
                someBoolean = false,
                someDecimal = 0.5
            )
        )
        data class SomeClass(
            val someString: String,
            val someInteger: Long,
            val anEmptyStringList: List<String>,
            val anIntList: List<Long>,
            val aStringList: List<String>,
            val someNestedObject: SomeOtherClass
        )
        data class SomeOtherClass(
            val someBoolean: Boolean,
            val someDecimal: Double
        )
    }
    """
  }
  ["Basic: Swift"] {
    """
    enum User {
        static let name: String = "Alice"
        static let friends: Array<String> = ["Bob", "Charlie"]
    
    }
    """
  }
  ["Basic: Kotlin"] {
    """
    package my.package
    
    object User {
        const val name: String = "Alice"
        val friends: List<String> = listOf("Bob", "Charlie")
    
    }
    """
  }
  ["Multiple Instances: Swift"] {
    """
    enum Equipment {
        static let phone: Device = Device(
            name: "iPhone"
        )
        static let tablet: Device = Device(
            name: "iPad"
        )
        static let laptop: Device = Device(
            name: "MacBook"
        )
        static let desktop: Device = Device(
            name: "iMac"
        )
        static let cover: Cover = Cover(
            name: "Magic Keyboard",
            device: Device(
                name: "iPad"
            )
        )
        struct Device {
            let name: String
        }
        struct Cover {
            let name: String
            let device: Device
        }
    }
    """
  }
  ["Multiple Instances: Kotlin"] {
    """
    package my.package
    
    object Equipment {
        val phone: Device = Device(
            name = "iPhone"
        )
        val tablet: Device = Device(
            name = "iPad"
        )
        val laptop: Device = Device(
            name = "MacBook"
        )
        val desktop: Device = Device(
            name = "iMac"
        )
        val cover: Cover = Cover(
            name = "Magic Keyboard",
            device = Device(
                name = "iPad"
            )
        )
        data class Device(
            val name: String
        )
        data class Cover(
            val name: String,
            val device: Device
        )
    }
    """
  }
  ["Nullable Properties: Swift"] {
    """
    enum NullableProperties {
        static let nullableString: String? = nil
        static let nullableObject: OuterClass? = OuterClass(
            required: InnerClass(
                value: true
            ),
            requiredWithNull: NullableInnerClass(
                value: nil
            ),
            nullObject: nil
        )
        static let nullObject: UnusedClass? = nil
        struct OuterClass {
            let required: InnerClass
            let requiredWithNull: NullableInnerClass
            let nullObject: InnerClass?
        }
        struct InnerClass {
            let value: Bool
        }
        struct NullableInnerClass {
            let value: Bool?
        }
        struct UnusedClass {
            let value: String
        }
    }
    """
  }
  ["Nullable Properties: Kotlin"] {
    """
    package my.package
    
    object NullableProperties {
        val nullableString: String? = null
        val nullableObject: OuterClass? = OuterClass(
            required = InnerClass(
                value = true
            ),
            requiredWithNull = NullableInnerClass(
                value = null
            ),
            nullObject = null
        )
        val nullObject: UnusedClass? = null
        data class OuterClass(
            val required: InnerClass,
            val requiredWithNull: NullableInnerClass,
            val nullObject: InnerClass?
        )
        data class InnerClass(
            val value: Boolean
        )
        data class NullableInnerClass(
            val value: Boolean?
        )
        data class UnusedClass(
            val value: String
        )
    }
    """
  }
  ["Modules: Swift"] {
    """
    enum People {
        static let alice: Person = Person(
            name: "Alice",
            age: 25
        )
        static let bob: Person? = nil
        struct Person {
            let name: String
            let age: Int
        }
    }
    """
  }
  ["Modules: Kotlin"] {
    """
    package my.package
    
    object People {
        val alice: Person = Person(
            name = "Alice",
            age = 25
        )
        val bob: Person? = null
        data class Person(
            val name: String,
            val age: Long
        )
    }
    """
  }
}
